@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kanit';
    font-style: normal;
    font-weight: bolder;
    src: url('/fonts/kanit-bold.woff') format('woff');
}
@font-face {
    font-family: 'kanit';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/kanit-semibold.woff') format('woff');
}
@font-face {
    font-family: 'playfair';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/PlayfairDisplay-Bold.ttf') format('ttf');
}

body {
    font-family: "kanit", Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(19, 19, 19);
    color: #fafafa;
}

.logo {
    font-family: "playfair"
}

section h1 span {
    text-shadow:  -2px -2px 0 #fafafa, 2px -2px 0 #fafafa, -2px 2px 0 #fafafa, 2px 2px 0 #fafafa;
}

.image1 {
    background-image: url('/1.jpg');
}

.image2 {
    background-image: url('/2.jpg');
}

.image3 {
    background-image: url('/3.jpg');
}

.photo1, .photo2, .photo3 {
    overflow: hidden;
}

.image1,
.image2,
.image3 {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

.image1:hover, .image2:hover, .image3:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.active {
    width: 18vw;
    padding: 0 .5rem;
}

.searchbar {
    transition: .4s;
}

.sectionNav li{
    transition: transform .4s;
}

.sectionNav li:hover {
    transform: scale(1.1);
}
